/* Homepage nm template.
 * All rights reserved Nick Murphy.
 */
 
 /* Homepage Overrides */
 #site-navigation{
	 position:absolute;
	 background-color:transparent;
 }
 #site-navigation .container{
	 background-color:transparent;
 }
 
 /* HTML Structure Styles */
 #slate{
	 position:relative;
	 z-index:7;
	 margin-top:-56px;
 }
 
 .slideWindow{
	width:100%;
	min-height:100vh;
	display:block;
	position:relative;
 }
 .sheet{
	 width:100%;
	 height:100vh;
 }
 
.sheetXL{
	height:106vh;
	top:-3vh;
	width:100%;
}

.special{
	width:100%;
	height:125vh;
}

.parallax{
	position:absolute;
}
 
/* Special Styles */
.heroData{
	display:none;
	visibility: hidden;
}

.nudge{
	position:absolute;
	height:30px;
	width:100%;
	left:0;
	background-color:#fff;
}

#work{
	margin-top:100vh;
	min-height:100vh;
	width:100%;
	background-color:#fff;
}

#work .container{
	padding-top:10%;
	padding-bottom:10%;
}
@media (max-width: 550px) {
	#work .container{
		padding-top:4%;
		padding-bottom:4%;
	}
}

#heroText{
	position:fixed;
	z-index:6;
	top:0;
	left:0;
}
#heroText.hide{
	z-index:2;
}
 
#heroSlides{
	position:fixed;
	z-index:5;
	top:0;
	left:0;
	background-color:#000;
}
#heroSlides.hide{
	z-index:1;
}

#heroText .container .row .twelve{
	position:absolute;
	top:50vh;
	margin-top:-191px;
	color:#ffffff;
}

#heroText .tick{
	font-family: "Helvetica Neue Light", Helvetica, Arial, sans-serif;
}

#heroText h1{
	margin-bottom:0.1em;
	font-family: "Helvetica Neue Medium", Helvetica, Arial, sans-serif;
}

#heroText h2{
	font-family: "Helvetica Neue Medium", Helvetica, Arial, sans-serif;
}

/* Carousel CSS */
.carousel{
	list-style-type: none;
	padding:0;
	margin:0;
}
.carousel li{
	position:absolute !important;
	top:0;
}
.carousel li picture{
	display: flex;
	width: 100%;
	height: 100%;
}
.carousel li picture img{
	width: 100%;
	height: auto;
	object-fit: cover;
}

.titles{
	height:200px;
	width:100%;
	overflow: hidden;
	list-style-type: none;
	margin:0;
	padding:0;
	position:relative;
}
.titles li{
	position: absolute;
	top:0;
	left:0;
}
.titles li h1{
	line-height: 80%;
}
.titles li a{
	display:block;
}
.titles li.white{
	color:#ffffff;
}
.titles li.white h1{
	color:#ffffff;
}
.titles li.black{
	color:#000000;
}
.titles li.black h1{
	color:#000000;
}
.titles li:hover h1{
	color:#808080;
}

.subtitles{
	height:42px;
	width:100%;
	overflow: hidden;
	list-style-type: none;
	margin:0;
	padding:0;
	position:relative;
	margin-top:20px;
}
.subtitles li{
	position: absolute;
	top:0;
	left:0;
}
.subtitles li h2{
	line-height: 80%;
	margin-bottom:0;
}
@media (max-width: 750px) {
	.titles{
		height:138px;
	}
	.subtitles{
		height:32px;
	}
	#heroText .container .row .twelve{
		margin-top:-125px;
	}
}

@media (max-width: 550px) {
	.titles{
		height:50px;
	}
	.subtitles{
		height:24px;
	}
	#heroText .container .row .twelve{
		margin-top:-125px;
	}
}
 
/* About Text */
#about{
	overflow: hidden;
}
#aboutText{
	position:absolute;
	top:0;
	display:flex;
	align-items: center;
	z-index:4;
	width:100%;
	min-height:100vh;
	left:0;
	color:#ffffff;
}
#aboutText h6{
	margin-bottom:0;
	font-family: "Helvetica Neue Medium", Helvetica, Arial, sans-serif;
}
#aboutText .textWidget{
	font-size:18px;
	line-height:26px;
}
#aboutBackgroundImage{
	left:0;
	z-index:3;
}
#aboutBackgroundImage picture{
	display: flex;
	width: 100%;
	height: 100%;
}
#aboutBackgroundImage picture img{
	width: 100%;
	height: auto;
	object-fit: cover;
}

/* Blog Styles */
#blog{
	background-color:#ffffff;
}
#blog .container .row h6{
	font-family: "Helvetica Neue Medium", Helvetica, Arial, sans-serif;
	padding-top:0.5em;
	padding-bottom:0.5em;
	margin-bottom:0;
	display:inline-block;
}
#blog .container .row h6 a{
	color:#000000;
}
#blog .container .row h6:hover a{
	color:#808080;
}
.captionThis{
	padding-bottom:1em;
}
.captionThis .entry-summary a{
	display: inline-block;
	font-family: "Helvetica Neue Medium", Helvetica, Arial, sans-serif;
	font-size:18px;
	margin-top:6px;
	color:#7ED321;
}
.captionThis .entry-summary a:hover{
	color:#808080;
}
@media (max-width: 550px) {
	#blog .container .row h6{
		padding-top:0.75em;
		padding-bottom:0.75em;
	}
	.captionThis{
		margin-top:2em;
		margin-bottom:2em;
	}
}
.entry-title{
	font-family: "Helvetica Neue Medium", Helvetica, Arial, sans-serif;
	margin-bottom:0.1em;
}
.entry-meta{
	margin-bottom:2em;
}
.entry-title a{
	color:#000000;
}
.entry-title a:hover{
	color:#808080;
}
.posted-on{
	font-weight:300;
}
.posted-on a{
	color:#000000;
}
.posted-on a:hover{
	color:#7ED321;
}
