@use './variables';

/*--------------------------------------------------------------
# Grid
--------------------------------------------------------------*/
.container {
  position: relative;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}
.column,
.columns {
  width: 100%;
  float: left;
  box-sizing: border-box;
}

#content {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-perspective-origin: 50% 50vh;
  perspective-origin: 50% 50vh;
  -webkit-perspective: 400px;
  perspective: 400px;
  padding-top: 56px;
}

@media (min-width: variables.$breakpoint-s) {
  .column,
  .columns {
    margin-left: 4%;
  }
  .column:first-child,
  .columns:first-child {
    margin-left: 0;
  }

  .one.column,
  .one.columns {
    width: 4.66666666667%;
  }
  .two.columns {
    width: 13.3333333333%;
  }
  .three.columns {
    width: 22%;
  }
  .four.columns {
    width: 30.6666666667%;
  }
  .five.columns {
    width: 39.3333333333%;
  }
  .six.columns {
    width: 48%;
  }
  .seven.columns {
    width: 56.6666666667%;
  }
  .eight.columns {
    width: 65.3333333333%;
  }
  .nine.columns {
    width: 74%;
  }
  .ten.columns {
    width: 82.6666666667%;
  }
  .eleven.columns {
    width: 91.3333333333%;
  }
  .twelve.columns {
    width: 100%;
    margin-left: 0;
  }

  .one-third.column {
    width: 30.6666666667%;
  }
  .two-thirds.column {
    width: 65.3333333333%;
  }

  .one-half.column {
    width: 48%;
  }

  /* Offsets */
  .offset-by-one.column,
  .offset-by-one.columns {
    margin-left: 8.66666666667%;
  }
  .offset-by-two.column,
  .offset-by-two.columns {
    margin-left: 17.3333333333%;
  }
  .offset-by-three.column,
  .offset-by-three.columns {
    margin-left: 26%;
  }
  .offset-by-four.column,
  .offset-by-four.columns {
    margin-left: 34.6666666667%;
  }
  .offset-by-five.column,
  .offset-by-five.columns {
    margin-left: 43.3333333333%;
  }
  .offset-by-six.column,
  .offset-by-six.columns {
    margin-left: 52%;
  }
  .offset-by-seven.column,
  .offset-by-seven.columns {
    margin-left: 60.6666666667%;
  }
  .offset-by-eight.column,
  .offset-by-eight.columns {
    margin-left: 69.3333333333%;
  }
  .offset-by-nine.column,
  .offset-by-nine.columns {
    margin-left: 78%;
  }
  .offset-by-ten.column,
  .offset-by-ten.columns {
    margin-left: 86.6666666667%;
  }
  .offset-by-eleven.column,
  .offset-by-eleven.columns {
    margin-left: 95.3333333333%;
  }

  .offset-by-one-third.column,
  .offset-by-one-third.columns {
    margin-left: 34.6666666667%;
  }
  .offset-by-two-thirds.column,
  .offset-by-two-thirds.columns {
    margin-left: 69.3333333333%;
  }

  .offset-by-one-half.column,
  .offset-by-one-half.columns {
    margin-left: 52%;
  }
}

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
  box-sizing: inherit;
}

/*blockquote:before,
blockquote:after,*/
q:before,
q:after {
  content: "";
}

blockquote,
q {
  font-weight: 300;
}

hr {
  background-color: variables.$light-grey-color;
  border: 0;
  height: 1px;
  margin-bottom: 1.5em;
}

.entry-content {
  ul {
    list-style: disc;
    padding-left: 8.7%;
    padding-right: 8.7%;
    margin-bottom: 2em;

    &.blocks-gallery-grid {
      margin-bottom: 1em;
    }

    li {
      ul {
        list-style-type: circle;
      }
    }
  }

  ol {
    padding-left: 8.7%;
    padding-right: 8.7%;
    margin-bottom: 2em;
  }

  li {
    margin-top: 0.5em;
    font-size: 18px;
    line-height: 26px;
  }

  img {
    height: auto;
    max-width: 100%;
  }

  .wp-block-image {
    margin: 0 0 2em;
  }

  .wp-block-embed {
    margin: 0 0 2em;
  }

  .wp-block-media-text {
    margin: 0 0 2em;
  }

  .wp-block-table {
    margin: 0 0 2em;

    table {
      margin: 0;
    }

    td, th {
      line-height: 2em;
    }

    tr {
      border-bottom: 1px solid #E7E7E7;
    }

    tr:last-child {
      border-bottom: none;
    }
  }
}

@media (max-width: variables.$breakpoint-s) {
  .entry-content {
    ol {
      padding-right: 0;
    }

    .wp-block-media-text {
      figure {
        margin-bottom: 2em;
      }
      .wp-block-media-text__content {
        padding: 0;

        p {
          margin: 0;
        }
      }
    }
  }
}

ol {
  list-style: decimal;
}

li > ul,
li > ol {
  margin-bottom: 0;
  margin-top: 0.5em;
  padding-right: 0% !important;
}

dt {
  font-weight: bold;
}

dd {
  margin: 0 1.5em 1.5em;
}

table {
  margin: 0 0 1.5em;
  width: 100%;
}

.hide {
  display: none;
}

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  font-family: variables.$medium-font-stack;
  font-size: 20px;
  line-height: 20px;
  padding: 12px 24px;
  border: 2px solid variables.$primary-color;
  border-radius: 4px;
  color: variables.$grey-0;
  background: variables.$primary-color;

  &:hover {
    color: variables.$primary-color;
    background: transparent;
  }

  &.secondary {
    padding: 8px 0;
    border: none;
    color: variables.$primary-color;
    background: transparent;

    &:hover {
      color: variables.$grey-500;
    }
  }

  &.navigation {
    padding: 4px 0;
    font-family: variables.$light-font-stack;
    font-size: 18px;
    border: none;
    color: variables.$grey-0;
    background: transparent;

    &:hover {
      color: variables.$primary-color;
    }
  }
}

button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
button:active,
input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active {
  border: 2px solid variables.$primary-color;

  &.secondary,
  &.navigation {
    border: none;
  }
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {
  font-family: variables.$regular-font-stack;
  font-size: 18px;
  line-height: 1.21;
  color: variables.$grey-1000;
  background: transparent;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #{variables.$grey-1000};

  &:hover {
    border-bottom: 1px solid #{variables.$primary-color};
  }
}

textarea {
  width: 100%;
  max-width: 100%;
  background: transparent;
  border: 1px solid variables.$black-color;
  border-radius: 0;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
textarea:focus {
  color: #111;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {
  padding: 3px;
}

.prev,
.next {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 36px;
  height: 36px;
  padding: 0px;
  margin: 0 8px;
  border: none;
  border-radius: 18px;
  background: variables.$grey-1000;

  .arrow {
    display: inline-flex;
    width: 8px;
    height: 100%;
    margin-left: 2px;
    background: url("./images/arrow-icon.png") no-repeat center;
    background: url("./images/arrow-icon.svg") no-repeat center,
      linear-gradient(transparent, transparent);
    background-size: 8px auto;

    &.left {
      margin-left: 0;
      margin-right: 2px;
      transform: rotate(180deg);
    }
  }

  &:focus,
  &:active {
    border: none;
  }

  &:hover {
    background: variables.$primary-color;
  }
}

/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
a {
  color: variables.$primary-color;
  text-decoration: none;

  &.primary {
    padding: 12px 24px;
    font-family: variables.$medium-font-stack;
    font-size: 20px;
    color: variables.$grey-0;
    background: variables.$primary-color;
    border: 2px solid variables.$primary-color;
    border-radius: 4px;

    &:hover {
      color: variables.$primary-color;
      background-color: transparent;
      border: 2px solid variables.$primary-color;
    }
  }

  &.secondary,
  &.more-link {
    font-family: variables.$medium-font-stack;
    font-size: 18px;
  }
}

/* TBD
a:visited {
	color: purple;
}
*/

a:hover,
a:focus,
a:active {
  color: variables.$grey-500;
}

a:focus {
  outline: thin dotted;
}

a:hover,
a:active {
  outline: 0;
}

/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
.site-main {
  &.comment-navigation,
  &.posts-navigation,
  &.post-navigation {
    margin: 0 0 1.5em;
    overflow: hidden;
  }
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous {
  float: left;
  text-align: left;
  width: 50%;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next {
  float: right;
  text-align: right;
  width: 50%;
}

.contentPostNavigation {
  display: flex;
  flex-wrap: wrap;
  
  .navigationPostTile {
    display:inline-block;
    width: 50%;

    .postNavigationImage {
      width: 100%;
      height: 200px;
      overflow: hidden;
    
      a {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
      }
    
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .postNavigationTitle {
      width: 100%;
      padding-right: 10px;
      font-family: variables.$medium-font-stack;
      color: variables.$black-color;

      a {
        color: variables.$black-color;
      }

      h3 {
        padding-top: 10px;
      }
    }
  
    &:hover {
      a {
        color: variables.$silver-color;
      }
    }
  }
}

@media (max-width: variables.$breakpoint-s) {
  .contentPostNavigation {
    .navigationPostTile {
      width: 100%;
    }
  }
}

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;

  &:focus {
    background-color: #f1f1f1;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important;
    color: #21759b;
    display: block;
    font-size: 14px;
    font-size: 0.875rem;
    font-weight: bold;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000; /* Above WP toolbar. */
  }
}

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
  outline: 0;
}

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft {
  display: inline;
  float: left;
  margin-right: 1.5em;
  margin-bottom: 2em;
}

.alignright {
  display: inline;
  float: right;
  margin-left: 1.5em;
}

.aligncenter {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
  content: "";
  display: table;
  table-layout: fixed;
}

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
  clear: both;
}

.container:after,
.row:after,
.u-cf {
  content: "";
  display: table;
  clear: both;
}

/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
.widget {
  margin: 0 0 1.5em;

  select {
    max-width: 100%;
  }
}

/*--------------------------------------------------------------
# Resume Page
--------------------------------------------------------------*/
#resumepage {
  .resumeView {
    max-width: 100%;
    box-sizing: border-box;
    resize: horizontal;
    overflow: auto;

    .wp-block-file {
      width: 100%;
      padding-bottom: 140%;
      margin: 0;

      object {
        position: absolute;
        width: calc(100% - 40px) !important;
        height: 100% !important;
        margin: 0;
      }

      & > a {
        display: none !important;
      }
    }
  }
}

/*--------------------------------------------------------------
# Email Page
--------------------------------------------------------------*/
#emailpage {
  .layer {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  #contactForm {
    h4 {
      color: variables.$black-color;
    }

    h3 {
      input {
        background-color: variables.$white-color;
        color: variables.$black-color;
        border-bottom: 1px solid variables.$black-color;
      }
    }

    p {
      margin-top: 0;
      padding-left: 0;
      padding-right: 0;
      margin-bottom: 18px;
    }

    textArea {
      background-color: variables.$white-color;
      color: variables.$black-color;
      border: 1px solid variables.$black-color;
    }
  }
}

/*--------------------------------------------------------------
# Search Page
--------------------------------------------------------------*/
#searchpage {
  input {
    margin-top: 60px;
    margin-bottom: 60px;
    color: variables.$black-color;
    background-color: variables.$white-color;
  }
}

/*--------------------------------------------------------------
# Search Styles
--------------------------------------------------------------*/
.result {
  h1 {
    font-family: variables.$medium-font-stack;
    margin-bottom: 0;
  }

  h2 {
    font-family: variables.$medium-font-stack;
    margin-bottom: 2em;
  }
}

.resultTxt {
  .entry-header {
    .entry-title {
      font-family: variables.$medium-font-stack;
      font-size: 40px;
      line-height: 49px;
      margin-bottom: 0;

      a {
        color: variables.$black-color;
      }

      a:hover {
        color: variables.$silver-color;
      }
    }

    .entry-meta {
      .posted-on {
        font-weight: 300;

        a {
          color: variables.$black-color;

          &:hover {
            color: variables.$silver-color;
          }
        }
      }
    }

    .entry-summary {
      margin-top: 2em;

      p {
        margin-bottom: 0.4em;
      }
    }

    .entry-footer {
      font-weight: 300;
      margin-bottom: 1.5em;

      .tags-links {
        display: none;
      }

      .comments-link {
        font-family: variables.$light-font-stack;
      }
    }
  }
}

@media (max-width: variables.$breakpoint-s) {
  .resultTxt {
    .entry-header {
      margin-top: 1em;
    }

    .entry-summary {
      margin-top: 1em;
    }

    .entry-footer {
      margin-bottom: 2em;
    }
  }
}

.no-results {
  min-height: 100vh;

  h2 {
    margin-left: 38px;
    text-indent: -38px;
  }
}

.fouro {
  h3 {
    margin-left: 23px;
    text-indent: -23px;
  }
}

.entry-content {
  display: block;
  max-width: 100%;
}

/*--------------------------------------------------------------
## Archive
--------------------------------------------------------------*/
.arch {
  padding-top: 3em;
  padding-bottom: 3em;

  .page-title {
    font-size: 48px;
    line-height: 58px;
    margin-bottom: 0.1em;
  }

  h2 {
    margin-bottom: 0em;
  }
}

@media (min-width: variables.$breakpoint-m) {
  .arch {
    .page-title {
      font-size: 100px;
      line-height: 120px;
    }
  }
}
@media (min-width: variables.$breakpoint-l) {
  .arch {
    .page-title {
      font-size: 140px;
      line-height: 160px;
    }
  }
}

/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation, /* Older / Newer Posts Navigation (always hidden) */
.infinite-scroll.neverending .site-footer {
  /* Theme Footer (when set to scrolling) */
  display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
  display: block;
}

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
  border: none;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
  max-width: 100%;
}

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
.wp-caption {
  margin-bottom: 20px;
  max-width: 100%;

  img[class*="wp-image-"] {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .wp-caption-text {
    margin: 10px 0;
  }
}

.wp-caption-text {
  text-align: left;
  font-weight: 300;
  color: variables.$silver-color;
  font-size: 14px;
  line-height: 17px;
}

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
.gallery {
  margin-bottom: 1.5em;
}

.gallery-item {
  display: inline-block;
  text-align: center;
  vertical-align: top;
  width: 100%;
}

.gallery-columns-2 .gallery-item {
  max-width: 50%;
}

.gallery-columns-3 .gallery-item {
  max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
  max-width: 25%;
}

.gallery-columns-5 .gallery-item {
  max-width: 20%;
}

.gallery-columns-6 .gallery-item {
  max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
  max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
  max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
  max-width: 11.11%;
}

.gallery-caption {
  display: block;
}

/*--------------------------------------------------------------
## Footer
--------------------------------------------------------------*/
.site-footer {
  width: 100%;
  background-color: variables.$grey-1000;
  padding-top: 30px;
  color: variables.$grey-0;
  position: relative;
  z-index: 9;

  ul {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
  }

  li {
    margin-bottom: 10px;

    a {
      font-size: 18px;
      line-height: 24px;
      font-weight: 300;
      color: variables.$grey-0;

      &:hover {
        color: variables.$primary-color;
      }
    }
  }

  h4 {
    font-family: variables.$medium-font-stack;
    margin-bottom: 10px;
    margin-top: 3px;
    color: variables.$grey-500;
  }

  h5 {
    margin-bottom: 1em;
    font-weight: 300;

    a {
      font-size: 14px;
    }
  }
}

@media (max-width: variables.$breakpoint-m) {
  .footerFirst {
    width: 100% !important;
  }
  .footerPosts {
    margin-left: 0;
  }
  .footerProjects {
    width: 22% !important;
  }
  .footerContact {
    width: 30.6666666667% !important;
  }
}

@media (max-width: variables.$breakpoint-s) {
  .footerPosts {
    width: 100% !important;
  }
  .footerProjects {
    width: 50% !important;
  }
  .footerContact {
    width: 50% !important;
  }
}

/*--------------------------------------------------------------
## Layering Parallax
--------------------------------------------------------------*/
.layer {
  width: 100%;
}

.postHero {
  position: relative;
  height: 600px;
  z-index: 3;
  display: block;
  overflow: hidden;
}

/* Blog Post */
.window {
  position: relative;
  height: 600px;
  z-index: 3;
  display: block;
}

.hero {
  position: absolute;
  z-index: 1;
  top: 0px;
  height: 600px;
  margin-top: 56px;
  width: 100%;
  overflow: hidden;

  picture {
    display: flex;
    width: 100%;
    height: 100%;

    img {
      width: 100%;
      height: auto;
      object-fit: cover;
    }
  }
}

@media (max-width: variables.$breakpoint-xl) {
  .postHero {
    height: 500px;
  }
  .hero {
    height: 500px;
  }
  .window {
    height: 500px;
  }
}
@media (max-width: variables.$breakpoint-l) {
  .postHero {
    height: 350px;
  }
  .hero {
    height: 350px;
  }
  .window {
    height: 350px;
  }
}
@media (max-width: variables.$breakpoint-m) {
  .postHero {
    height: 400px;
  }
}
@media (max-width: variables.$breakpoint-s) {
  .postHero {
    height: 200px;
  }
  .hero {
    height: 200px;
    margin-top: 56px;
  }
  .window {
    height: 200px;
  }
}
.iphoneVideo {
  max-width: 375px;
}
.slab {
  z-index: 3;
  position: relative;
  background-color: variables.$white-color;
  display: block;
}

.error404 {
  #page {
    #content {
      .content-area {
        background-color: variables.$white-color;
      }
    }
  }
}
/*--------------------------------------------------------------
# Admin Pannel
--------------------------------------------------------------*/
#wp-auth-check-wrap {
  #wp-auth-check {
    background-color: variables.$black-color !important;
  }
}