@use './variables';

/*--------------------------------------------------------------
## Blog Index
--------------------------------------------------------------*/
body.blog {
  .postHero {
    a {
      display: flex;
      align-items: center;
      align-content: center;
      width: 100%;
      height: 100%;

      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }
  }
}

.whiteDivide {
  position: relative;
  width: 100%;
  height: auto;
  background-color: variables.$white-color;
}

.postPreface {
  padding-top: 4em;
  padding-bottom: 4em;

  .entry-title {
    margin-bottom: 0.25em;

    a {
      color: variables.$black-color;

      &:hover {
        color: variables.$silver-color;
      }
    }
  }

  .entry-meta {
    margin-bottom: 2em;
    font-weight: 300;
  }

  .entry-content {
    margin-bottom: 2em;

    p {
      margin-bottom: 0;
    }

    .more-link {
      display: inline-block;
      font-family: variables.$medium-font-stack;
      font-size: 18px;
      margin-top: 1em;
      color: variables.$accent-color;

      &:hover {
        color: variables.$silver-color;
      }
    }
  }

  .entry-footer {
    p {
      margin-bottom: 0;
      font-weight: 300;
      font-size: 16px;

      a {
        font-family: variables.$light-font-stack;
        padding-right: 1em;
      }
    }
  }
}

@media (max-width: variables.$breakpoint-l) {
  .postPreface {
    .entry-content {
      p {
        padding-left: 4.7%;
        padding-right: 4.7%;
      }
    }
  }
}
@media (max-width: variables.$breakpoint-s) {
  .postPreface {
    padding-top: 2em;

    .entry-content {
      p {
        padding-left: 0%;
        padding-right: 0%;
      }

      .more-link {
        margin-top: 0.5em;
      }
    }
  }
}