@use './variables';

/* Might Be Unnecessary */
.squareShot {
  a {
    display: block;
    width: 100%;
    line-height: 0;
  }

  img {
    width: 100%;
    height: auto;
  }
}

.descrip {
  .entry-title {
    margin-bottom: 0.1em;

    a {
      color: variables.$grey-1000;

      &:hover {
        color: variables.$grey-500;
      }
    }
  }
}

.entry-meta {
  margin-bottom: 2em;

  .posted-on {
    font-weight: 300;

    .entry-date {
      color: variables.$grey-1000;

      &:hover {
        color: variables.$grey-500;
      }
    }
  }
}

@media (max-width: variables.$breakpoint-s) {
  .descrip {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

/*--------------------------------------------------------------
## Blog Index
--------------------------------------------------------------*/
.whiteDivide {
  position: relative;
  width: 100%;
  height: auto;
  background-color: variables.$white-color;
}

.chip {
  margin-bottom: variables.$space10;
}

/* Hero Post Tile */
.heroPost {
  .postHero {
    height: 420px;
    margin-bottom: 0;
  }

  .entry-title {
    margin-bottom: variables.$space2;
  }

  .entry-meta {
    margin-bottom: variables.$space5;

    h5 {
      margin: 0;
    }
  }

  .entry-content {
    p {
      margin-bottom: variables.$space3;
    }
  }
}

/* Standard Post Tile */
.postPreface {
  .postHero {
    height: 320px;
  }

  .entry-title {
    margin-bottom: variables.$space2;

    a {
      color: variables.$grey-1000;

      &:hover {
        color: variables.$grey-500;
      }
    }
  }

  .entry-meta {
    margin-bottom: variables.$space5;

    h5 {
      margin: 0;
    }
  }

  .entry-content {
    p {
      margin-bottom: variables.$space3;
    }
  }
}

@media (max-width: variables.$breakpoint-m) {
  .heroPost {
    .postHero {
      height: 320px;
    }
  }
}

@media (max-width: variables.$breakpoint-s) {
  .heroPost {
    .postHero {
      height: 248px;
      margin-bottom: variables.$space5;
    }

    .entry-title {
      font-size: 28px;
      line-height: 34px;
    }
  }

  .postPreface {
    .postHero {
      height: 248px;
    }
  }
}