@use './variables';

/*--------------------------------------------------------------
## Homepage
--------------------------------------------------------------*/
#slate {
  position: relative;
  z-index: 7;
}

.slideWindow {
  width: 100%;
  min-height: 100vh;
  display: block;
  position: relative;
}
.sheet {
  width: 100%;
  height: 100vh;
}

.sheetXL {
  height: 106vh;
  top: -3vh;
  width: 100%;
}

.special {
  width: 100%;
  height: 125vh;
}

.parallax {
  position: absolute;
}

/* Hero Section */
$heroHeightDesktop: 600px;
$heroHeightTablet: 400px;
$heroHeightMobile: 200px;

#hero {
  position: relative;
  height: $heroHeightDesktop;
  overflow: hidden;
}

#heroSlides {
  top: 0;
  left: 0;
  width: 100%;
  height: $heroHeightDesktop;
  background-color: variables.$grey-1000;

  .carousel {
    width: 100%;
    padding: 0;
    margin: 0;
    list-style-type: none;
  
    li {
      position: absolute;
      top: 0;
      width: 100%;
      height: $heroHeightDesktop;
  
      picture {
        display: flex;
        width: 100%;
        height: 100%;
  
        img {
          width: 100%;
          height: auto;
          object-fit: cover;
        }
      }
    }
  }
}

.heroNavigation {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 28px;

  .slideTabs {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;

    li {
      display: flex;
      align-items: center;
      padding: 4px 9px;
      cursor: pointer;

      &:first-child {
        padding-left: 0;
      }
  
      &:last-child {
        padding-right: 0;
      }

      span {
        height: 4px;
        width: 36px;
        background: variables.$grey-500;
      }

      &:hover {
        span {
          background: variables.$primary-color;
        }
      }

      &.active {
        cursor: pointer;

        span {
          background: variables.$grey-1000;
        }

        &:hover {
          span {
            background: variables.$grey-1000;
          }
        }
      }
    }
  }
}

/* Hero Text */
.heroText {
  padding: 24px 0;
  background-color: variables.$grey-0;
}

.carouselElements {
  display: flex;
  flex-direction: row;

  .carouselTypography {
    width: 100%;
  }

  .carouselSkipButtons {
    display: flex;

    button {
      &:first-child {
        margin: 0;
      }

      &:last-child {
        margin-left: 26px;
        margin-right: 0;
      }
    }
  }
}

@media (max-width: variables.$breakpoint-m) {
  #hero {
    height: $heroHeightTablet;
  }

  #heroSlides {
    height: $heroHeightTablet;

    .carousel {
      li {
        height: $heroHeightTablet;
      }
    }
  }
}

@media (max-width: variables.$breakpoint-s) {
  #hero {
    height: $heroHeightMobile;
  }

  #heroSlides {
    height: $heroHeightMobile;

    .carousel {
      li {
        height: $heroHeightMobile;
      }
    }
  }

  .carouselElements {
    flex-direction: column;

    .carouselTypography {
      margin-bottom: 24px;
    }
  }
}

.titles {
  position: relative;
  height: 50px;
  width: 100%;
  margin: 0 0 12px 0;
  padding: 0;
  overflow: hidden;
  list-style-type: none;

  li {
    position: absolute;
    top: 0;
    left: 0;

    h2 {
      margin-bottom: 0;
    }

    a {
      color: variables.$grey-1000;

      &:hover {
        color: variables.$grey-500;
      }
    }
  }
}

.subtitles {
  position: relative;
  height: 30px;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  list-style-type: none;

  li {
    position: absolute;
    top: 0;
    left: 0;

    h3 {
      line-height: 80%;
      margin-bottom: 0;
    }
  }
}

@media (max-width: variables.$breakpoint-m) {
  .titles {
    height: 38px;
  }
  .subtitles {
    height: 20px;
  }
}

@media (max-width: variables.$breakpoint-s) {
  .titles {
    height: 28px;
  }
  .subtitles {
    height: 16px;
  }
}

/* Work Section */
#work {
  min-height: 100vh;
  width: 100%;
  background-color: variables.$white-color;

  .container {
    padding-top: 10%;
    padding-bottom: 10%;
  }
}

@media (max-width: variables.$breakpoint-s) {
  #work {
    .container {
      padding-top: 4%;
      padding-bottom: 4%;
    }
  }
}

/* About Text */
#about {
  overflow: hidden;
}
#aboutText {
  top: 0;
  display: flex;
  align-items: center;
  z-index: 4;
  width: 100%;
  min-height: 100vh;
  left: 0;
  color: variables.$white-color;

  h6 {
    margin-bottom: 0;
    font-family: variables.$medium-font-stack;
  }

  .textWidget {
    font-size: 18px;
    line-height: 26px;
  }
}
#aboutBackgroundImage {
  left: 0;
  z-index: 3;

  picture {
    display: flex;
    width: 100%;
    height: 100%;

    img {
      width: 100%;
      height: auto;
      object-fit: cover;
    }
  }
}

/* Blog Styles */
#blog {
  background-color: variables.$white-color;

  h6 {
    font-family: variables.$medium-font-stack;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    margin-bottom: 0;
    display: inline-block;

    a {
      color: variables.$black-color;
    }

    &:hover {
      a {
        color: variables.$silver-color;
      }
    }
  }
}

.captionThis {
  padding-bottom: 1em;

  .entry-summary {
    a {
      display: inline-block;
      font-family: variables.$medium-font-stack;
      font-size: 18px;
      margin-top: 6px;
      color: variables.$accent-color;

      &:hover {
        color: variables.$silver-color;
      }
    }
  }

  .entry-meta {
    margin-bottom: 2em;
  }

  .entry-title {
    a {
      color: variables.$black-color;

      &:hover {
        color: variables.$silver-color;
      }
    }
  }

  .posted-on {
    font-weight: 300;

    a {
      color: variables.$black-color;

      &:hover {
        color: variables.$accent-color;
      }
    }
  }
}

@media (max-width: variables.$breakpoint-s) {
  #blog {
    h6 {
      padding-top: 0.75em;
      padding-bottom: 0.75em;
    }
  }
  .captionThis {
    margin-top: 2em;
    margin-bottom: 2em;
  }
}