@use './variables';

/*--------------------------------------------------------------
## Homepage
--------------------------------------------------------------*/
.homepage {
  padding-top: variables.$space31;
}

/* Hero Section */
#hero {
  padding-bottom: variables.$space31;

  .homeTagline {
    width: 100%;
    max-width: 800px;
  }

  .seo-title {
    display: none;
  }
}

/* Work Section */
#work {
  width: 100%;
  padding-bottom: variables.$space21;
}

/* Blog Styles */
#blog {
  padding-bottom: variables.$space21;

  .blogTitle {
    margin-bottom: variables.$space10;
  }

  h1 {
    a {
      color: variables.$black-color;

      &:hover {
        color: variables.$silver-color;
      }
    }
  }
}

.captionThis {
  padding-bottom: 1em;

  .entry-summary {
    a {
      display: inline-block;
      font-family: variables.$medium-font-stack;
      font-size: 18px;
      margin-top: 6px;
      color: variables.$accent-color;

      &:hover {
        color: variables.$silver-color;
      }
    }
  }

  .entry-title {
    a {
      color: variables.$black-color;

      &:hover {
        color: variables.$silver-color;
      }
    }
  }

  .posted-on {
    font-weight: 300;

    a {
      color: variables.$black-color;

      &:hover {
        color: variables.$accent-color;
      }
    }
  }
}

@media (max-width: variables.$breakpoint-s) {
  .homepage {
    padding-top: variables.$space15;
  }

  #hero {
    padding-bottom: variables.$space15;
  }

  #work {
    padding-bottom: variables.$space5;
  }
  
  #blog {
    padding-bottom: variables.$space5;
  }
}