@use './variables';

/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
$navigation-height: 56px;

#site-navigation {
  position: fixed;
  width: 100%;
  height: $navigation-height;
  background-color: variables.$black-color;
  z-index: 12;

  & > .container {
    background: variables.$black-color;

    a {
      display: inline-block;
    }

    a.homeIcon {
      position: relative;
      z-index: 15;
    }
  }
}

#logo {
  margin-top: 15px;
  cursor: pointer;
  height: 26px;
}

.main-navigation {
  clear: both;
  display: block;
  float: left;
  width: 100%;

  ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
  }  
}

.tabbed-navigation {
  float: right;
  z-index: 12;

  & > li {
    float: left;
    position: relative;
    margin-left: 35px;
    padding-top: 17px;
    height: 56px;

    & > a {
      color: variables.$white-color;
      display: block;
      text-decoration: none;

      &.text {
        position: relative;
        z-index: 15;
        font-family: variables.$light-font-stack;
        font-size: 18px;
        font-weight: 300;
        line-height: 22px;
        color: variables.$white-color;
      }
    }

    &.active {
      a.text {
        color: variables.$accent-color;
      }
    }
  }
}

.menuButton {
  display: none;
  position: relative;
  z-index: 13;
  float: right;
  margin-top: 13px;
}

@media (max-width: variables.$breakpoint-m) {
  .tabbed-navigation {
    display: none;
    position: absolute;
    top: $navigation-height;
    left: 0;
    width: 100%;
    padding: 12px 0;
    background-color: variables.$grey-1000;
    
    & > li {
      float: none;
      width: 100%;
      height: auto;
      margin: 0 auto;
      padding: 8px 20px;
    }

    &.active {
      display: block;
    }
  }

  .menuButton {
    display: inline-block;

    &.active {
      color: variables.$primary-color;

      &:hover {
        color: variables.$grey-0;
      }
    }
  }
}

@media (max-width: variables.$breakpoint-s) {
  .tabbed-navigation {
    & > li {
      width: 100%;
    }
  }
}

[data-whatinput="mouse"] .tabbed-navigation li a.text:hover {
  color: variables.$accent-color;
}
.searchTab a .staticMagnifierIcon {
  width: 24px;
  display: block;
}
[data-whatinput="mouse"]
  .tabbed-navigation
  li.searchTab
  a.text:hover
  .staticMagnifierIcon {
  display: none;
}
.searchTab a .selectedMagnifierIcon {
  width: 24px;
  display: none;
}
[data-whatinput="mouse"]
  .tabbed-navigation
  li.searchTab
  a.text:hover
  .selectedMagnifierIcon {
  display: block;
}
.searchTab.active {
  .selectedMagnifierIcon {
    display: block;
  }

  a {
    .staticMagnifierIcon {
      display: none;
    }
  }
}