@use './variables';

/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
$navigation-height: 56px;

#site-navigation {
  position: fixed;
  width: 100%;
  height: $navigation-height;
  background-color: variables.$black-color;
  z-index: 12;
  -webkit-backface-visibility: hidden;
  transform: translate3d(0, 0, 0);

  & > .container {
    background: variables.$black-color;

    a {
      display: inline-block;
    }

    a.homeIcon {
      position: relative;
      z-index: 15;
    }
  }
}

#logo {
  margin-top: 15px;
  cursor: pointer;
  height: 26px;
}

.main-navigation {
  clear: both;
  display: block;
  float: left;
  width: 100%;

  ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
  }  
}

.tabbed-navigation {
  float: right;
  z-index: 12;

  & > li {
    float: left;
    position: relative;
    margin-left: 35px;
    padding-top: 17px;
    height: 56px;

    & > a {
      color: variables.$white-color;
      display: block;
      text-decoration: none;

      &.text {
        position: relative;
        z-index: 15;
        font-family: variables.$light-font-stack;
        font-size: 18px;
        font-weight: 300;
        line-height: 22px;
        color: variables.$white-color;
      }
    }

    &.active {
      a.text {
        color: variables.$accent-color;
      }
    }
  }
}

.menuButton {
  display: none;
  position: relative;
  z-index: 13;
  float: right;
  margin-top: 13px;
}

@media (max-width: variables.$breakpoint-m) {
  .tabbed-navigation {
    display: none;
    position: fixed;
    top: $navigation-height;
    left: 0;
    width: 100%;
    padding: 12px 0;
    background-color: variables.$grey-1000;
    
    & > li {
      float: none;
      width: 90%;
      max-width: 960px;
      height: auto;
      margin: 0 auto;
      padding: 8px 20px;
    }

    &.active {
      display: block;
    }
  }

  .menuButton {
    display: inline-block;

    &.active {
      color: variables.$primary-color;

      &:hover {
        color: variables.$grey-0;
      }
    }
  }
}

@media (max-width: variables.$breakpoint-s) {
  .tabbed-navigation {
    & > li {
      width: 100%;
    }
  }
}

[data-whatinput="mouse"] .tabbed-navigation li a.text:hover {
  color: variables.$accent-color;
}
.searchTab a .staticMagnifierIcon {
  width: 24px;
  display: block;
}
[data-whatinput="mouse"]
  .tabbed-navigation
  li.searchTab
  a.text:hover
  .staticMagnifierIcon {
  display: none;
}
.searchTab a .selectedMagnifierIcon {
  width: 24px;
  display: none;
}
[data-whatinput="mouse"]
  .tabbed-navigation
  li.searchTab
  a.text:hover
  .selectedMagnifierIcon {
  display: block;
}
.searchTab.active {
  .selectedMagnifierIcon {
    display: block;
  }

  a {
    .staticMagnifierIcon {
      display: none;
    }
  }
}

.slideContainer {
  display: block;
  width: 100%;
  height: 0;
}

.navigationSlide {
  display: none;
  position: fixed;
  width: 100%;
  height: 100vh;
  opacity: 1;
  top: 0;
  left: 0;

  &.active {
    display: block;
  }
}

.navigationOverflowContainer {
  position: absolute;
  top: $navigation-height;
  width: 100%;
  height: calc(100vh - #{$navigation-height});
  background-color: variables.$grey-0;
  overflow-y: scroll;
}

/* Work Slide */
.workSlide {
  .navigationOverflowContainer {
    padding: 48px 0;
  }
}

.tile {
  display: block;
  position: relative;
  float: left;
  width: 33.3%;
  height: 0px;
  padding-bottom: 33.3%;
  background-color: variables.$white-color;
  overflow: hidden;

  .textwidget {
    a {
      position: relative;
      display: block;
      width: 100%;
      height: 100%;
    }
  }
}

@media (max-width: variables.$breakpoint-m) {
  .tile {
    width: 50%;
    padding-bottom: 50%;
  }
}

@media (max-width: variables.$breakpoint-xs) {
  .tile {
    width: 100%;
    padding-bottom: 100%;
  }
}

.tileLayer {
  position: absolute;
  z-index: 2;
  padding-top: 10px;
  padding-left: 15px;
  padding-right: 15px;
  opacity: 1;

  h2 {
    font-family: variables.$medium-font-stack;
    margin-bottom: 4px;
  }

  p {
    font-weight: 300;
  }
}

[data-whatinput="mouse"] .tileLayer {
  opacity: 0;
}

[data-whatinput="mouse"] .tile:hover .tileLayer {
  opacity: 1;
}

.tileIcon {
  position: relative;
  margin-top: -3%;
  margin-left: -3%;
  z-index: 1;
  width: 106%;
}

[data-whatinput="mouse"] .tile:hover .tileIcon {
  filter: blur(4px);
  -webkit-filter: blur(4px);
  -moz-filter: blur(4px);
  -o-filter: blur(4px);
  -ms-filter: blur(4px);
}

.white {
  color: variables.$white-color;
}

.black {
  color: variables.$black-color;
}

.whiteout {
  background-color: variables.$white-color;
}

/* Resume Slide */
.resumeView {
  .wp-block-file {
    height: calc(100vh - #{$navigation-height});
    margin: 0;

    object {
      min-height: calc(100vh - #{$navigation-height});
      margin: 0;
    }

    & > a {
      display: none !important;
    }
  }
}

/* Blog Slide */
.blogSlide {
  .navigationOverflowContainer {
    padding: 48px 0;
  }

  .post {
    padding-bottom: 20px;
  }
}

.squareShot {
  a {
    display: block;
    width: 100%;
    line-height: 0;
  }

  img {
    width: 100%;
    height: auto;
  }
}

.descrip {
  .entry-title {
    margin-bottom: 0.1em;

    a {
      color: variables.$grey-1000;

      &:hover {
        color: variables.$grey-500;
      }
    }
  }
}

.entry-meta {
  margin-bottom: 2em;

  .posted-on {
    font-weight: 300;

    .entry-date {
      color: variables.$grey-1000;

      &:hover {
        color: variables.$grey-500;
      }
    }
  }
}

@media (max-width: variables.$breakpoint-s) {
  .descrip {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

/* Contact Styles */
.emailSlide {
  .navigationOverflowContainer {
    padding-top: 48px;
  }

  .contentBlock {
    padding-bottom: 30px;
  }

  .formBlock {
    padding-bottom: 30px;
  }

  .linksBlock {
    padding-bottom: 40px;
  }
}

#contactForm {
  h3 {
    padding: 0;
    margin-bottom: 0;

    input {
      width: 100%;
    }
  }

  h4 {
    margin-bottom: 0;
  }

  h5 {
    color: variables.$silver-color;
    margin-top: 3px;
  }

  textarea {
    height: 150px;
  }
}

div.wpcf7-response-output {
  margin: 0;
  padding: 0;
  border: none !important;
  color: variables.$white-color !important;
  margin-bottom: 1em;
}
span.wpcf7-not-valid-tip {
  font-size: 16px !important;
  line-height: 18px !important;
  font-weight: 500;
  margin-left: 5px;
}

#menu-connect {
  li {
    margin-bottom: 8px;
  }
  a {
    font-size: 18px;
    font-family: variables.$medium-font-stack;
    color: variables.$primary-color;

    &:hover {
      color: variables.$grey-500;
    }
  }
}

/* Search Styles */
.searchSlide {
  overflow: hidden;

  .navigationOverflowContainer {
    padding-top: 48px;
  }

  h4 {
    margin-bottom: 4px;
  }
}

#search {
  width: 100%;
  margin-bottom: 24px;
  border-bottom: 1px solid variables.$grey-1000;

  &:hover {
    border-bottom: 1px solid variables.$primary-color;
  }
}
:-moz-placeholder {
  color: variables.$grey-200;
}
::-webkit-input-placeholder {
  color: variables.$grey-200;
}