$accent-color: #7ed321;
$black-color: #000000;
$white-color: #ffffff;
$silver-color: #808080;
$light-grey-color: #eeeeee;

$light-font-stack: "Helvetica Neue Light", Helvetica, Arial, sans-serif;
$regular-font-stack: "Helvetica Neue Roman", Helvetica, Arial, sans-serif;
$medium-font-stack: "Helvetica Neue Medium", Helvetica, Arial, sans-serif;

$breakpoint-xl: 1440px;
$breakpoint-l: 1020px;
$breakpoint-m: 750px;
$breakpoint-s: 550px;
$breakpoint-xs: 430px;